#root .app {
  width: 100%;
  margin: 0 auto;
  padding: 0 2.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}


.navbar{
  max-width: 1280px;
  min-width: 288px;
  padding: 1.25rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
}

.logo-nd-links-wrapper{
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: start;
  align-items: center;
}

.logo-img{
  width: auto;
  height: 36px;
  cursor: pointer;
}

.links{
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.links a{
  width: fit-content;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.75rem;
  font-weight: 600;
  color: hsl(216, 35%, 43%);
  padding: 0.5rem 0.875rem;
  transition: background-color, 0.3s ease-in 0s;
  cursor: pointer;
}
.links a:hover{
  color: hsl(215, 100%, 48%);
}

.button-wrapper{
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: end;
}

.menu-wrapper{
  width: fit-content;
  display: inline-flex;
  padding: 0.75rem;
  border-radius: 4px;
  transition: background-color, 0.3s ease-in 0s;
  display: none;
}

.menu-wrapper:hover{
  background-color: hsl(0, 0%, 87%);
}

.menu-wrapper img{
  fill: inherit;

}

.btn-primary-default{
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-wrap: none;
  background-color: hsl(215, 100%, 48%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color, 0.3s ease-in 0s;
}

.btn-primary-default:hover{
  background-color: hsla(215, 100%, 48%, 0.8);
}

.btn-secondary-default{
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  background-color: hsl(0, 0%, 87%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 8px;

  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color, 0.3s ease-in 0s;
}

.btn-secondary-default:hover {
  background-color: hsla(215, 100%, 48%, 0.8);
}

.btn-tertiary{
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  color: hsl(215, 100%, 48%);
  border: none;
  border-bottom: 1.2px solid hsl(215, 100%, 48%);

  padding: 0.75rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color, 0.3s ease-in 0s;
}

.btn-tertiary:hover{
  border-bottom: 2.5px solid hsl(216, 96%, 21%);
}


.icon-svg{
  width: 24px;
  height: 24px;
  /* fill: hsl(216, 96%, 21%); */
}

.blog-list{
  max-width: 1280px;
  min-width: 288px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 3rem;
}

.blog{
  max-width: 1280px;
  min-width: 288px;
  display: inline-flex;
  gap: 3rem;
  flex-direction: column;
  padding: 0;
}

.blogheader{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
}

.blogheader .title{
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.blogheader .caption{
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.blog-cards{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.card{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog-cards a{
    text-decoration: none;
    color: inherit;
}

.card-img-container{
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center; 
  
  border-radius: 8px;
  background-color: hsl(216, 96%, 21%);
  overflow: hidden;
  cursor: pointer;
}

.card-img{
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position:  center;
    transition: background-color, 0.3s ease-in-out 0.1s;
}

.card-img:hover{
  opacity: 0.5;;
}

.card-content-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card-title{
  width: fit-content;
  font-size: 1.375rem;
  line-height: 2rem;
  font-weight: 700;
  transition: background-color, 0.3s ease-in 0s;
  cursor: pointer;
}

.card-title:hover{
  color: hsl(215, 100%, 48%);
}

.card-captions{
  width: fit-content;
  display: inline-flex;
  gap: 1rem;
  cursor: pointer;
}
.card-caption, .publish-date{
  width: fit-content;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
  color: hsla(209, 96%, 10%, 0.5);
}

.more-btn-wrapper{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.loader{
  display: inline-flex;
  justify-content: start;
  align-items: center;
 
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
  width: 100%;
}


/* Media querry */
@media screen and (max-width: 912px) {
  .navbar{
    max-width: 1280px;
    min-width: 288px;
    padding: 1.25rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
  }

  .links{
    width: fit-content;
    display: none;
    flex-direction: row;
  }

  .btn-primary-default{

    display: none;

    transition: background-color, 0.3s ease-in 0s;
  }

  .menu-wrapper{
    width: fit-content;
    display: inline-flex;
    padding: 0.75rem;
    border-radius: 4px;
    transition: background-color, 0.3s ease-in 0s;
    background-color: hsl(0, 0%, 87%);
  }

  .blog-cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4rem;
  }

}

@media screen and (max-width: 540px) {
  #root .app {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.25rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .logo-img{
    width: auto;
    height: 32px;
    cursor: pointer;
  }

  .blog-cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    row-gap: 3rem;
  }

  .card-img-container{
    width: 100%;
    height: 420px;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    
    border-radius: 8px;
    background-color: hsl(216, 96%, 21%);
    overflow: hidden;
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
    .card-img-container{
      width: 100%;
      height:  auto;
      display: inline-flex;
      justify-content: center;
      align-items: center; 
      
      border-radius: 8px;
      background-color: hsl(216, 96%, 21%);
      overflow: hidden;
      cursor: pointer;
    }
}